<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
</head>
<body>
    <nav>
        <div class="porfolio"><img src="../public/images/default pic for porfolio.png" alt="">
            <label for="#fullName">Full Name</label>
        </div>
        
        <div class="status">
            <% if (!user.membership) { %>
                <label for="#membership">Membership</label>
                <img src="../public/images/not.png" alt="No" id="membership">
            <% }else{ %>
                <label for="#membership">Membership</label>
                <img src="../public/images/succes.png" alt="yes" id="membership">
            <%}%>

            <% if (!user.isAdmin) { %>
                <label for="#isAdmin">Admin</label>
                <img src="../public/images/not.png" alt="No" id="admin">
            <% }else{ %>
                <label for="#isAdmin">Admin</label>
                <img src="../public/images/succes.png" alt="yes" id="admin">
            <%}%>
            
        </div>
    </nav>

<% for(let i=0;i<msg.length;i++){ %>
    <div class="messagesBox">
        <h4><%=msg[i].author.fullName%></h4>
        <p><%=msg[i].description%></p>
        <p><%=msg[i].timeStamp%></p>
    </div>

<% } %>

<% if (error) { %>
 <p><%error%></p>
<% } %> 

<form method="post" action="/dashboard/createNewMessage" >
    <input type="text" placeholder="Enter Message" class="message" name="messageValue">
    <input type="submit" value="Send">
    
</form>


</body>
</html>