<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/LogInAndSignUp.css' />
  </head>
  <body>
    <form action="/signUp" method="post">
      <h1>Sign Up</h1>
      <input type="text" name="fullName" placeholder="Full Name" required/>
      <input type="text" name="email" placeholder="Email" required/>
      <input type="password" name="password" placeholder="Password" required/>
      <input type="password" name="confirmPassword" placeholder="Confirm Password" required/>
      <input type="text" name="secretKey" placeholder="(Optional) Membership secret key "/>
      <input type="text" name="adminCode" placeholder="(Optional) Admin secret code "/>
      <% if(errors!=null&&typeof errors=="Array") {%>
        <% for(let i = 0; i < errors.length; i++) {%>
          <p><%=errors[i].msg%></p>
        <%}%>
    <% } else if(errors!=null) { %>
          <p><%=errors.msg%></p>
    <%}%>
      <br />
      <input type="submit" value="Submit" />
      <a href="/logIn">Already have an account</a>
    </form>
  </body>
</html>
